.products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax( 300px, 1fr));
}

.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 16px;
    margin: 10px 20px;
    border: 1px solid black;
    border-radius: 4px;
    transition: all .2s ;
    height: 150px;
}

.product:hover{
    background-color: rgb(200, 200, 200);
    border: 1px dashed black;
}

